# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

#CocoaPods
Pods/

# MacOS X
.DS_Store
*.DS_Store
**/.DS_Store

#Swift Package Manager
.build
/.previous-build
*~
\#*
.\#*
*.xcscmblueprint
/default.profraw
Utilities/Docker/*.tar.gz
.swiftpm
Packages/
Package.pins
Package.resolved
