matrix:
  include:
    - language: objective-c
      branches:
          only:
              - master
      os: osx
      osx_image: xcode11
      xcode_workspace: Demo.xcworkspace
      xcode_project: Demo.xcodeproj
      xcode_scheme: DemoObjC
      before_install:
          - sudo gem install activesupport -v 4.2.6
          - rvm install 2.3.1
          - rvm use 2.3.1
          - sudo gem install cocoapods
      script:
        - xcodebuild -workspace Demo.xcworkspace -scheme DemoObjC -sdk iphonesimulator

    - language: swift
      branches:
          only:
              - master
      os: osx
      osx_image: xcode11
      xcode_workspace: Demo.xcworkspace
      xcode_project: Demo.xcodeproj
      xcode_scheme: DemoSwift
      before_install:
          - sudo gem install activesupport -v 4.2.6
          - rvm install 2.3.1
          - rvm use 2.3.1
          - sudo gem install cocoapods
      script:
        - xcodebuild -workspace Demo.xcworkspace -scheme DemoSwift -sdk iphonesimulator
