<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   IQKeyboardManagerSwift

   Created by mihir mehta on 22/09/15.
   Copyright (c) 2015 IQKeyboardManager. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
