<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IQKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IQKeyboardManager Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KeyboardManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KeyboardManagerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D0BB83F18BB1AE100667349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0BB87218BB232B00667349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0ACB0C419CF0FB60057B571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0ACB0F419CF104B0057B571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0ACB10819CF10510057B571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B63B9A1781FAB1008D3B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D781081ABF0AB6005FB0AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
